<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  <httpRuntime maxRequestLength="20480" executionTimeout="3600"/>
  -->
<configuration>
  <system.web>
    <authentication mode="Windows"/>
    <identity impersonate="false"/>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime maxRequestLength="20480" executionTimeout="3600"/>
    <customErrors mode="Off"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    
  </system.web>
  <connectionStrings>
    <add name="ArchiveConnString" connectionString="database=SHD;server=10.43.61.4;User Id=admin_shd;password=ljrevtynfirf" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="App_Name" value="Архив"/>
    <add key="App_Ver" value="v0.01"/>
    <add key="CopyRight" value="УЭСП ПОАСУ 2018"/>
    <add key="AttachPath" value="D:\WEB_APP\public\Archive_Files\"/>
    <add key="URLServPath" value="https://06www.ogp.gazprom.ru/"/>
  </appSettings>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="Main.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>